<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Lenius Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" charset="UTF-8"/>
        <log type="coverage-html" target="build/logs/phpunit-html/" charset="UTF-8"/>
    </logging>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <file>./src/IdentifierInterface.php</file>
                <file>./src/StorageInterface.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
